.dashboard-container{
    width: 100vw;
    height: 92.9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 3.8rem;
}

.row-left{
    width: 75%;
    height: 100%;
    padding-left: 2.8rem;
    padding-top: 1.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    left: -11%;
}

.row-right{
    position: absolute;
    width: 28%;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #F4F6FF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.mini-stats-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
}

.profile-icn{
    width: 3rem;
}

.user-profile{
    width: 80%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.stat-item-container{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-icn{
    width: 4.2rem;
}

.stats-item{
    margin-top: 1rem;
    width: 85%;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2.6rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.st-text{
    margin-top: 2rem;
    font-weight: 700;
}

.suggested-exercises{
    width: 37%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    gap: 1rem;
}

.sugg-text{
    position: relative;
    bottom: 2rem;
}

.buy-premium-banner{
    width: 80%;
    height: 70%;
    background-color: #7F61F3;
    position: relative;
    border-radius: 4rem;
    bottom: 3rem;
}

.text-cnt{
    position: absolute;
    top: 20%;
    left:6%;
    color: white;
}

.prem-icn{
    position: absolute;
    right: 0;
    bottom: 0;
}


h1{
    font-size: 2.6rem;
}
.prem-sub{
    font-weight: 300;
    font-size: 0.8rem;
}

.prem-btn-cnt{
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.sub-btn{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 1rem;
    border: none;
    background-color: #FBFDFF;
    transition: 0.2s ease-in-out;
}

.sub-btn:hover{
    background-color: orange;

}

.prem-features{
    position: absolute;
    bottom: 8rem;
    left: 2rem;
    font-size: 0.8rem;
    color: white;
    font-weight: 300;
}