.select-container{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.cat-container{
    margin-top: 2rem;
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.yg-play{
    font-size: 2rem;
}

.yoga-pose-container{
    width: 100vw;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10rem;
    gap: 1rem;
}