
.week{
    color: white;
    width: 7rem;
    height: 8rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #8cd16c;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.week h2{
    margin-top: 1rem;
    font-size: 1rem;
}

.week-icn{
    width: 2rem;
}

#lock{
    background-color: #fd5769;
}